<!DOCTYPE HTML>
<html lang="tr">
	<head>
		<title>Faaliyet Alanlarımız</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
						<h1><a href="index" id="logo">Milat Cam</a></h1>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/index">Anasayfa</a></li>
								<li>
									<a href="">Kurumsal</a>
									<ul>
										<li><a href="profil">Firma Profili</a></li>
										<li><a href="vizyonmisyon">Vizyon ve Misyon</a></li>
										<li><a href="politikalar">Politikalarımız</a></li>
										<li><a href="galeri">Galeri</a></li>
									</ul>
								</li>
								<li class="active"><a href="faaliyetalan">Faaliyet Alanlarımız</a></li>
								<li><a href="referanslar">Referanslar</a></li>
								<li><a href="iletisim">İletişim</a></li>
							</ul>
						</nav>
	
					</div>
				</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">

				<!-- Content -->
				<div id="content" class="container">
					<section>
						<header class="major">
							<h2>FAALİYET ALANLARIMIZ</h2>
							<span class="byline"></span>
						</header>

						<h3>Isıcam Sistemleri</h3>

						<h5>Isıcam K Serisi</h5>
						<p>Isıcam Sistemleri K Serisi, yüksek nitelikli ısı ve güneş kontrol kaplamalı Şişecam Solar Low-E Cam’lar ile üretilen seridir.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Sıradan çift camlara kıyasla ısı kayıplarını %50 azaltarak kışın yakıt masraflarını, güneş ısısının içeriye girişini %40 azaltarak da yazın klima masraflarını düşürür ve enerji tasarrufu sağlar.<br>
							- Isı ve güneş kontrolü sağlarken, şeffaflık ve doğal gün ışığından ödün vermez.<br>
							- Pencere önlerinin kışın soğuk, yazın da sıcak olmasını önler ve buğulanmayı sıradan çift camlara kıyasla geciktirir.<br>
							- Sıradan çift camlara kıyasla Isıcam K için yapacağınız harcama, yakıt ve klima masraflarından sağlayacağınız tasarruf ile 1-2 yılda geri döner.</p>

						<h5>Isıcam S Serisi</h5>
						<p>Isıcam Sistemleri S Serisi yüksek nitelikli ısı kontrol kaplamalı Şişecam Low-E Cam’lar ile üretilen seridir.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Sıradan çift camlara kıyasla ısı kayıplarını % 50 azaltır ve yakıt masraflarını düşürür.<br>
							- Güneş ısısından maksimum seviyede yararlanmanızı sağlarken ışık geçirgenliğinden ödün vermez.<br>
							- Pencere önlerinin kışın soğuk olmasını önler ve buğulanmayı sıradan çift camlara kıyasla geciktirir.<br>
							- Sıradan çift camlara kıyasla Isıcam S için yapacağınız harcama, kışın yakıttan sağlayacağınız tasarruf ile size 1-2 yılda geri döner.</p>

						<h5>Şişecam Akustik Lamine Cam</h5>
						<p>Şişecam Akustik Lamine Cam, Şişecam Düzcam'ın gürültü kontrol camıdır.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Dışarıdaki gürültü düzeyi, normal sakin bir ortam düzeyine indirilerek bireylerin yaşam kalitesi artırılır.<br>
							- Gürültünün insan sağlığına olan zararlı etkilerinin azaltılmasına katkıda bulunur.<br>
							- İnsanların cama çarpması sonucu oluşan kazalarda yaralanma riskini en aza indirger.<br>
							- Dışarıdan gelebilecek darbelere karşı güvenlik sağlar. Taş ve sopa gibi araçlarla yapılan saldırı ve hırsızlık girişimlerinde, içeri girişleri önler/geciktirir.<br>
							- Eşyaların ve kumaşların renklerinin solma nedeni olan ultraviyole (UV) ışınlarının geçişini %97-99 oranında engeller.<br>
							- Isıcam ünitelerinde de kullanılarak emniyet, güvenlik ve gürültü kontrolünün yanı sıra ısı yalıtımı da sağlanır.<br>
							- Low-E kaplamalı akustik lamine camlar ile etkin ısı kontrolü sağlanır.</p>

						<h5>Şişecam Boyalı Cam</h5>
						<p>Şişecam Boyalı Cam, Şişecam Düzcam’ın düzcama parlak boya uygulanarak elde edilen dekoratif camıdır.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Şişecam Boyalı Cam sadece iç dekorasyonda kullanılan ve yedi değişik standart rengi ile tasarımcıya, kullanıcıya farklı seçenekler sunan estetik bir çözümdür.<br>
							- Boyama sırasında kullanılan boya çevreye zararlı hiç bir ağır metal ve kimyasal içermediği için çevre dostu bir üründür.<br>
							- Emniyet gerektiren yerlerde güvenlik filmi ile uygulandığı takdirde kırılma halinde dağılmaz ve yaralanma riski ortadan kalkar.</p>

						<h5>Şişecam Buzlu Cam</h5>
						<p>Şişecam Buzlu Cam, Şişecam Düzcam’ın bir yüzü desenli dekoratif camıdır.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Ev ve ofis tasarımlarında en doğal malzemelerden biri olan cam, yaşadığınız mekânlara güneşin ışıltılı dokunuşlarını taşır.<br>
							- Estetik bir iç tasarım için üretilen buzlu camlar, yaşanılan alanların şıklığını ortaya çıkarır.<br>
							- Yeni fikirlerin ve yaratıcı tasarımların hayat bulmasını sağlar.<br>
							- Özellikle ışığın zor ulaştığı ve dar alanlarda doğal ve şeffaf dokusu ile aydınlık ve ferahlık hissi verir.<br>
							- Tasarımcı ve mimarların iç ve dış mekân tasarımlarında yenilikçi çözümler sunar.<br>
							- Aydınlığın ve gizliliğin aynı anda yaşanmasına imkân verir.<br>
							- Her desen, tasarım veya projelerde ihtiyacınıza uygun farklı seviyelerde görüntü kontrolü sunar.<br>
							- Laminasyon prosesine tabi tutularak emniyet ve güvenlik camı özelliği kazanır.<br>
							- Emniyet gerektiren yerlerde temperli olarak kullanılabilir.<br>
							- Desenli yüzeylerine ayna uygulanarak farklı görsel özellikler kazanır.</p>

						<h5>Şişecam Lamine Cam</h5>
						<p>Şişecam Lamine Cam, Şişecam Düzcam'ın lamine emniyet ve güvenlik camıdır.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - İnsanların cama çarpması sonucu oluşan kazalarda yaralanma riskini en aza indirger.<br>
							- Dışarıdan gelebilecek darbelere karşı güvenlik sağlar. Taş ve sopa gibi araçlarla yapılan saldırı ve hırsızlık girişimlerinde, içeri girişleri önler/geciktirir.<br>
							- Ses yalıtımına katkı sağlar.<br>
							- Eşyaların ve kumaşların renklerinin solma nedeni olan ultraviyole (UV) ışınlarının geçişini %97-99 oranında engeller.<br>
							- Isıcam ünitelerinde de kullanılarak emniyet ve güvenliğin yanı sıra ısı yalıtımı da sağlanır.<br>
							- Low-E kaplamalı lamine camlar ile etkin ısı kontrolü sağlanır.</p>

						<h5>Şişecam Renkli Düzcam</h5>
						<p>Şişecam Renkli Düzcam Şişecam Düzcam'ın harmandan renkli camıdır.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Farklı renk alternatifleri ile tasarımcı ve kullanıcılara estetik ve şık mekanlar yaratmaya yönelik geniş seçenekler sunar.<br>
							- Dış cephede kullanıldığında, bina içine güneş ısısı girişini sınırlar, güneşin aşırı parlaklığını denetler, rahat bir çalışma ve yaşam ortamı sunar.<br>
							- Klima kullanılan ortamlarda soğutma enerjisi tüketimini azaltarak, soğutma giderlerinden tasarruf sağlar.<br>
							- Farklı kalınlık ve ebatlarda tedarik imkanı mevcuttur.<br>
							Not:<br>
							Bütün güneş kontrol camlarında ısıl kırılma riskleri vardır. Bu nedenle Şişecam Renkli Düzcam’ın temperli veya kısmi temperli kullanılması tavsiye edilir. Lamine yapılırken ısıl kırılma risklerine karşı lamine camın tüm katmanlarının temperlenmesi veya kısmi temperlenmesi gerekir.</p>

						<h5>Şişecam Renksiz Düzcam</h5>
						<p>Şişecam Renksiz Düzcam, tüm cam uygulamaları için temel üründür.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Üretim teknolojsi sayesinde yüksek kalitelidir.<br>
							- Tüm cam uygulamaları için temel üründür.<br>
							- Saydamlığı sayesinde yüksek ışık geçirgenliğine sahiptir.<br>
							- Farklı kalınlık ve ebatlarda, sürekli ve kesintisiz tedarik imkanı mevcuttur.<br>
							- Türkiye’nin her noktasına yayılmış geniş bir dağıtım kanalına sahiptir.</p>

						<h5>Şişecam Ultra Clear Boyalı Cam</h5>
						<p>Şişecam Ultra Clear Boyalı Cam, Şişecam Düzcam’ın düşük demirli düzcama parlak boya uygulanarak elde edilen dekoratif camıdır.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Boyama sırasında kullanılan boya çevreye zararlı hiç bir ağır metal ve kimyasal içermediği için çevre dostu bir üründür.<br>
							- Emniyet gerektiren yerlerde kırılma halinde cam parçalarını yerinde tutarak dağılmasını ve yaralanma riskini ortadan kaldırmak için emniyet bandı uygulanır.</p>

						<h5>Şişecam Ultra Clear Düzcam</h5>
						<p>Şişecam Ultra Clear Düzcam, Şişecam Düzcam'ın düşük demirli düzcamıdır.</p>
						<h6><b>Avantajlar</b></h6>
						<p> - Yüksek ışık geçirgenliğine ve berraklığa sahiptir.<br>
							- Şeffaflığı sayesinde, arkasında sergilenen objeleri gerçek renklerinde ve parlaklıklarında gösterir.<br>
							- Cam yokmuş hissi veren berraklığı ile mağaza vitrinlerinde, müze sergileme ünitelerinde, bina atriumlarında, merdiven korkuluklarında, cam kapılarda, bölme duvarı olarak mobilyalarda, aynalarda, duş kabinlerinde, cam asansörlerde eşsiz güzellik ve performans sunar.<br>
							- Kesitinden bakıldığında düzcamın yeşilimtırak rengi tamamen kaybolmaktadır.</p>

						<h2>Ara Bölme Cam Duvar</h2>
						<h2>Mimari Camlar</h2>

					</section>
				</div>
			</div>

		<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Sosyal Medya Hesaplarımız</h2>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/milatcam/" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/milatcam" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="https://www.instagram.com/milatcam/" class="fa fa-instagram"><span>Pinterest</span></a></li>
				</ul>
				<hr />
			</section>

			<!-- Copyright -->
			<div id="copyright">
				Tasarım: <a href="http://milatcam.com">© 2019 Milatcam</a>
			</div>
		</div>

	</body>
</html>