<!DOCTYPE HTML>
<html lang="tr">
	<head>
		<title>Faaliyet Alanlarımız</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/slideshow.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/slideshowcss.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">

			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
						<h1><a href="index" id="logo">Milat Cam</a></h1>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/index">Anasayfa</a></li>
								<li>
									<a href="">Kurumsal</a>
									<ul>
										<li><a href="profil">Firma Profili</a></li>
										<li><a href="vizyonmisyon">Vizyon ve Misyon</a></li>
										<li><a href="politikalar">Politikalarımız</a></li>
										<li class="active"><a href="galeri">Galeri</a></li>
									</ul>
								</li>
								<li><a href="faaliyetalan">Faaliyet Alanlarımız</a></li>
								<li><a href="referanslar">Referanslar</a></li>
								<li><a href="iletisim">İletişim</a></li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">

				<!-- Content -->
				<div id="content" class="container">
					<section>
						<header class="major">
							<h2>GALERİ</h2>
							<span class="byline"></span>
						</header>

						<!-- Slideshow container -->
						<div class="slideshow-container">

							<!-- Full-width images with number and caption text -->
							<div class="mySlides fade">
								<div class="numbertext">1 / 5</div>
								<img src="images/company/1.jpg" style="width:100%">
								<div class="text">Caption Text</div>
							</div>

							<div class="mySlides fade">
								<div class="numbertext">2 / 5</div>
								<img src="images/company/2.jpg" style="width:100%">
								<div class="text">Caption Two</div>
							</div>

							<div class="mySlides fade">
								<div class="numbertext">3 / 5</div>
								<img src="images/company/3.jpg" style="width:100%">
								<div class="text">Caption Three</div>
							</div>

							<div class="mySlides fade">
								<div class="numbertext">4 / 5</div>
								<img src="images/company/4.jpg" style="width:100%">
								<div class="text">Caption Four</div>
							</div>

							<div class="mySlides fade">
								<div class="numbertext">5 / 5</div>
								<img src="images/company/5.jpg" style="width:100%">
								<div class="text">Caption Five</div>
							</div>

							<!-- Next and previous buttons -->
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
						</div>
						<br>

						<!-- The dots/circles -->
						<div style="text-align:center">
							<span class="dot" onclick="currentSlide(1)"></span>
							<span class="dot" onclick="currentSlide(2)"></span>
							<span class="dot" onclick="currentSlide(3)"></span>
							<span class="dot" onclick="currentSlide(4)"></span>
							<span class="dot" onclick="currentSlide(5)"></span>
						</div>

					</section>
				</div>
			</div>

		<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Sosyal Medya Hesaplarımız</h2>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/milatcam/" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/milatcam" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="https://www.instagram.com/milatcam/" class="fa fa-instagram"><span>Pinterest</span></a></li>
				</ul>
				<hr />
			</section>

			<!-- Copyright -->
			<div id="copyright">
				Tasarım: <a href="http://milatcam.com">© 2019 Milatcam</a>
			</div>
		</div>

	</body>
</html>