<!DOCTYPE HTML>
<html lang="tr">
<head>
    <title>İletişim</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
</head>
<body>

<!-- Header Wrapper -->
<div class="wrapper style1">

    <!-- Header -->
    <div id="header">
        <div class="container">

            <!-- Logo -->
            <h1><a href="index" id="logo">Milat Cam</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/index">Anasayfa</a></li>
                    <li>
                        <a href="">Kurumsal</a>
                        <ul>
                            <li><a href="profil">Firma Profili</a></li>
                            <li><a href="vizyonmisyon">Vizyon ve Misyon</a></li>
                            <li class="active"><a href="politikalar">Politikalarımız</a></li>
                            <li><a href="galeri">Galeri</a></li>
                        </ul>
                    </li>
                    <li><a href="faaliyetalan">Faaliyet Alanlarımız</a></li>
                    <li><a href="referanslar">Referanslar</a></li>
                    <li><a href="iletisim">İletişim</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- Main -->
<div id="main" class="wrapper style4">

    <!-- Content -->
    <div id="content" class="container">
        <section>
            <header class="major">
                <h2>POLİTİKALARIMIZ</h2>
            </header>

            <h4>Kurumsal Politikamız</h4>

            <h6>Kalite ve Müşteri Memnuniyeti</h6>
            <p>Milat Cam; ulusal ve uluslararası standart, yasa ve mevzuat doğrultusunda sahip olduğu finansal
                değerin yanı sıra sosyal, kültürel, etik ve insani değerlerini de çalışanları, müşterileri, tedarikçileri,
                iştirakçileri, tüm iş ortakları ve diğer paydaşları ile birlikte müşteri memnuniyeti ve şikayetlerinin
                yönetimini, hizmet kalitesinin sürekli iyileştirilmesini, süreçlerin etkin ve verimli yönetilmesini
                mükemmeliyetçi yaklaşım ile sağlar.</p>

            <h6>İş Sağlığı ve Güvenliği ile Çevre</h6>
            <p>Milat Cam, iş sağlığı ve güvenliği tehlikelerinin tanımlanması, risklerinin yönetilmesi ile
                çalışanlarına güvenli, sağlıklı ve ergonomik bir çalışma ortamı sağlamak, doğal kaynakların etkin
                ve verimli kullanılması, kirlenmenin önlenmesi ile gelecek nesillere yaşanılabilir bir çevre bırakmak
                amacı doğrultusunda yasal şartlar ve mevzuata uygun hareket edip sürekli gelişme sağlar.</p>

            <h6>Sosyal Sorumluluk ve Çalışanlar</h6>
            <p>Milat Cam; yapmış olduğu ticari faaliyetlerinin yanı sıra sosyal sorumluluk bilinciyle, varlığını
                sürdürdüğü topluma katma değer sağlayacak faaliyetler gerçekleştirir.
                Bu politika; yaptığı işin müşteriye sunulan hizmete katacağı değerin ve uyması gereken tüm
                kuralların bilincinde olan, ortaklık değerlerini benimsemiş, çözüm üreten, işini ve sorumluluklarını
                sahiplenen, bilgisini paylaşan, takım çalışmasını etkin şekilde uygulayan, kendini sürekli geliştiren,
                fiziksel, tıbbi ve düşünsel açıdan işini yapmaya her an hazır olan çalışanlar sayesinde ortaya
                konur.</p>

            <h4>Kalite Politikamız</h4>

            <h6>Hizmette Mükemmelliği Aramak</h6>
            <p>Faaliyetlerimizde ulaştığımız noktalar, bizim için mükemmellikte yeni arayışların başlangıcıdır.</p>

            <h6>Yaşamın Değerinin Farkında Olarak, Tüm Hizmetlerimizde Emniyet ve Güvenliğe Önem
                Vermek</h6>
            <p>Donanımlı insan kaynağımız, uygun altyapıya sahip çalışma ortamlarında, gelişmiş teknolojik
                imkanları kullanarak, uçuş emniyeti ve güvenliğini sağlamak için “sıfır hata” odaklı çalışır.</p>

            <h6>Müşteri Odaklı Bir Yaklaşım Sergilemek</h6>
            <p>Müşterilerimizin farklı kültürleri göz önüne alınarak; günümüz ve gelecekteki beklentileri ve
                ihtiyaçları doğru algılanıp değerlendirilmek suretiyle, hizmetin zamanında sunulması sağlanır.
                Müşterinin memnuniyeti, önerisi ve şikayeti etkin bir şekilde değerlendirilir.</p>

            <h6>Çalışanlarımızla Fark Yaratmak</h6>
            <p>Yaptığı işin müşteriye sunulan hizmete katacağı değerinin bilinciyle; Ortaklık değerlerini
                benimsemiş, çözüm üreten, işini sahiplenen, bilgisini paylaşan, takım çalışmasını bilen ve katılan,
                kendisini sürekli geliştiren çalışanlarımızla hizmet üretilir.</p>

            <h6>Gelişmiş Teknolojiyi Kullanmak</h6>
            <p>Rekabet avantajı sağlayacak teknolojiyi takip ederek, kullanılmasını sağlar.</p>

            <h6>Kaynakları Yönetmek</h6>
            <p>En üst düzeyde operasyonel emniyet, güvenlik ve kaliteyi yakalamak için gereken tüm kaynakları
                sağlar ve en uygun düzeyde kullanır.</p>

            <h4>İş Sağlığı ve Güvenliği Politikamız</h4>

            <h6>Kurallara Uymak</h6>
            <p>İş sağlığı ve güvenliği alanında uymakla yükümlü olduğu ulusal, yasal ve diğer şartlar ile cam
                sektörüne ait uluslararası kurallara uygun hareket eder.</p>

            <h6>Büyürken İnsanı Düşünmek</h6>
            <p>Faaliyet alanı ile ilgili yeni yatırımları planlarken, filosunu büyütürken ve teknolojik altyapı seviyesini
                yükseltirken, çalışanların, müşterilerin, tedarikçilerin ve alt işverenlerin sağlığını ve güvenliğini
                gözeterek, riski en düşük seviyede olan ekipman ve organizasyonları tercih eder. Ortaklık
                Yönetimi, herkesin sağlıklı ve güvenli bir şekilde çalışmasının önemine, bu hususun Ortaklık
                başarısının bir parçası olduğuna inanır.</p>

            <h6>Çalışan Katılımı ve İletişim</h6>
            <p>İş sağlığı ve güvenliği performansının iyileştirilmesi için organizasyonun her kademesinin katılımını
                sağlar. Çalışanlarının, iş sağlığı ve güvenliği konusundaki birikimini ve bilincini arttırarak iş sağlığı
                ve güvenliği kültürünün gelişimini desteklemek için çalışmalar yapar. Mevcut ve gelecekteki
                faaliyetler için çalışanlar ve tedarikçiler ile iş sağlığı ve güvenliği konusunda açık bir diyalog kurar.</p>

            <h6>Kaynak Temini</h6>
            <p>Kurulan iş sağlığı ve güvenliği yönetim sisteminin uygulanması, sürdürülmesi ve geliştirilmesi için
                gerekli kaynakların sağlanmasını taahhüt eder.</p>

            <h6>Sürekli İyileştirmek</h6>
            <p>İş sağlığı ve güvenliği performansını izler, ölçer ve Dünya’daki iyi uygulamaları da dikkate alarak bu
                alandaki performansını sürekli iyileştirmek için çalışır.
                Uygun yönetim usullerinin gereğini, iş sağlığı ve güvenliği konusundaki hedeflerle ve devamlılık arz
                eden geliştirici programlarla politikayı devamlı gözden geçirerek gerçekleştirir.</p>

            <h4>Çevre Politikamız</h4>

            <h6>Kurallara Uymak</h6>
            <p>Çevre alanında uymakla yükümlü olduğu ulusal yasal şartlar, ulusal/uluslararası diğer şartlar ile
                cam sektörüne ait kurallara uygun hareket eder. Desteklediği çevre projeleri ile yasalara uyumun
                ötesine geçmeyi amaçlar.</p>

            <h6>Çevre Boyutlarını Yönetmek</h6>
            <p>Tüm faaliyet, ürün ve hizmetleri sonucu ortaya çıkan çevre boyutlarını belirler ve çevresel etkileri
                tespit ederek bu etkileri azaltmak için aksiyon planları geliştirir. Önemli çevre boyutlarını kontrol
                altında tutmak için iyileştirme odaklı yönetim sistemi ve metotlar uygular.</p>

            <h6>Olumsuz Çevresel Etkileri En Aza İndirmek</h6>
            <p>Tüm faaliyet, ürün ve hizmetlerini gerçekleştirirken önceliği çevreyi korumaktır. İklim değişikliğine
                etkisi olabilecek etkenleri azaltmak ve ortadan kaldırmak için ısı-sıcaklık verimliliği ile ilgili
                girişimleri destekler ve emisyonunu azaltıcı tedbirler alır.
                Gürültü kirliliği ve atık oluşumunu engelleyici tedbirleri alır. Atık yönetimi kapsamında geri
                dönüştürülebilir malzeme kullanımına öncelik ve geri kazanıma destek vererek atıkların en aza
                indirilmesini sağlar.</p>

            <h6>Büyürken İnsanı ve Çevreyi Düşünmek</h6>
            <p>Faaliyet alanı ile ilgili yeni yatırımları planlarken, filosunu büyütürken ve teknolojik altyapı seviyesini
                yükseltirken yaşam döngüsü yaklaşımını dikkate alır.</p>

            <h6>Gelecek Nesillere Yaşanabilir Bir Dünya Bırakmak</h6>
            <p>Paydaşlarıyla birlikte ortak güvencesi olan gelecek nesilleri düşünerek, sürdürülebilirlik ilkesiyle
                doğal kaynakları etkin ve verimli kullanır; biyolojik çeşitliliğe önem verir.</p>

            <h4>Müşteri Memnuniyeti Politikamız</h4>
            <p>Müşterilerimizin beklentileri ve gereksinimleri doğrultusunda, ürün ve hizmetlerimizi geliştirmek için
                müşterilerimiz, çalışanlarımız başta olmak üzere tüm paydaşlarımızdan aldığımız geri bildirimleri
                kullanarak ve gereken tüm kaynakları sağlayarak süreçlerimizi sürekli iyileştiririz.</p>

            <h4>Lojistik Destek</h4>
            <p>Canlı Şirketler Grubu`nda hizmet satışın bitmesi ile sona ermez. Cam tasarımcıları ve
                uygulamacıları, toplam onlarca araçlık Canlı Lojistik filosunun imkanlarından yararlanır ve bu
                şekilde, müşterilerine verdikleri hizmetin en kalitelisini en hızlı sunabilmek adına bir avantaj
                kazanırlar.
                Canlı Şirketler Grubuna bağlı Milat Cam, Milat Temper Glass, Şişe Cam fabrikalarının sadece
                dağıtıcı ve/veya üretici bayisi değildirler. Canlı Şirketler Grubu firmaları; hem cam sektöründe
                faaliyet gösteren tasarımcı ve uygulamacı müşterileri ile Şişecam arasında bilgi ve enformasyon
                akışını sağlar, hem de bu tasarımcı ve uygulamacılara, ürünün yerine montajına kadar hizmetini
                sürdürür.
                Bu amaçla tesis edilmiş olan Canlı Lojistik Hizmetler filosu,Cam sektöründe yapılan işlere göre
                özelleştirilmiş 10 araçtan oluşmaktadır. Ayrıca, Milat Cam Lojstik hizmetleri kapsamında talebe
                bağlı olarak uygulamacılar için zor olabilecek camlar için montaj desteği sunmaktadır.</p>



        </section>
    </div>
</div>

<!-- Footer -->
<div id="footer">
    <section class="container">
        <header class="major">
            <h2>Sosyal Medya Hesaplarımız</h2>
        </header>
        <ul class="icons">
            <li class="active"><a href="https://www.facebook.com/milatcam/" class="fa fa-facebook"><span>Facebook</span></a></li>
            <li><a href="https://twitter.com/milatcam" class="fa fa-twitter"><span>Twitter</span></a></li>
            <li><a href="https://www.instagram.com/milatcam/" class="fa fa-instagram"><span>Pinterest</span></a></li>
        </ul>
        <hr />
    </section>

    <!-- Copyright -->
    <div id="copyright">
        Tasarım: <a href="http://milatcam.com">© 2019 Milatcam</a>
    </div>
</div>

</body>
</html>