<!DOCTYPE html>
<html lang="tr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Kayıt</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript" src="webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script></head>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Milatcam Sipariş Takip Sistemi</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Anasayfa</a></li>
            <li><a href="/users">Kullanıcılar</a></li>
            <li><a href="/items/add">Sipariş Ver</a></li>
            <li><a href="/items">Siparişler</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAnonymous()"><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Kayıt Ol</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Giriş</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/users/} + ${user.id} + @{/items}">Siparişlerim</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                </a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
<form th:action="@{/register}" th:object="${userForm}" method="post">

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" th:field="*{username}" class="form-control" placeholder="Kullanıcı Adı" >
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
        <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global Error</p>
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" th:field="*{password}" class="form-control" placeholder="Şifre" >
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global Error</p>
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" th:field="*{name}" class="form-control" placeholder="Ad" >
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
        <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global Error</p>
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" th:field="*{lastName}" class="form-control" placeholder="Soyad" >
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</p>
        <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global Error</p>
    </div>

        <button type="submit" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-book"></span> Kayıt Ol
        </button>

</form>
</div>

</body>
</html>