<!DOCTYPE HTML>
<html lang="tr">
<head>
    <title>İletişim</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
</head>
<body>

<!-- Header Wrapper -->
<div class="wrapper style1">

    <!-- Header -->
    <div id="header">
        <div class="container">

            <!-- Logo -->
            <h1><a href="index.html" id="logo">Milat Cam</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/index.html">Anasayfa</a></li>
                    <li>
                        <a href="">Kurumsal</a>
                        <ul>
                            <li><a href="profil.html">Firma Profili</a></li>
                            <li><a href="vizyonmisyon.html">Vizyon ve Misyon</a></li>
                            <li><a href="politikalar.html">Politikalarımız</a></li>
                            <li><a href="galeri.html">Galeri</a></li>
                        </ul>
                    </li>
                    <li><a href="faaliyetalan.html">Faaliyet Alanlarımız</a></li>
                    <li><a href="referanslar.html">Referanslar</a></li>
                    <li><a href="iletisim.html">İletişim</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- Main -->
<div id="main" class="wrapper style4">

    <!-- Content -->
    <div id="content" class="container">
        <section>
            <header class="major">
                <h2>URUNLERIMIZ</h2>
            </header>

            <p>
                Düzcam
                Mimari Cam
                HELIO füme, HELIO bronz, HELIO yeşil, HELIO mavi, ŞİŞECAM’ın ergitme prosesi öncesi, cam
                harmanında renklendirici katkıların ilavesiyle elde edilen harmandan renkli camlarıdır. Muhtelif
                renklerdeki HELIO serisi yalıtkan camlamalarda ve yalıtım camı kombinasyonlarında düşük
                yansıtmalı güneş kontrol kazançları sağlarken güneş ve ısı kontrol kaplamalı camlar ile ayna
                üretiminde alt cam olarak da kullanılabilirler.
                Matobel Cam
                Işığı yansıtmayan özel bir camdır. Standart cam üzerindeki parlak parıltıyı ortadan kaldırmak için
                camın iki yüzeyine de hafif asit uygulaması yapılmasıyla üretilir.
                Sera Camı
                Fotoğraf ve kısa bilgi verilebilir
                Düzcam
                Düz cam, cam eriyiğinin ermiş kalay üzerinde yüzdürülmesi (floting) suretiyle üretilir. Bu proses
                camın iki yüzünün birbirine paralel ve hatasız olmasını sağlar.
                Extra Beyaz Cam
                Düşük demirli bir camdır. Üretimi esnasında kullanılan demir oksit miktarının düz camdan daha
                düşük olması sebebiyle düz cama göre daha şeffaftır.
                Cam İşleme
                BİZOTE
                Cam kenarının 90°, cam ön köşesinin ise istenen açıda perdahlanması işlemine denir. Bizote
                genişliği açı ile değişir.
                KANAL AÇMA
                Cam yüzeyinin bir doğru boyunca 2 mm derinliğinde oyularak şekil verilmesine denir.
                RODAJ
                Cam kenarlarının ve köşelerinin perdahlanması işlemidir. Cam kenarlarının ve köşelerinin
                keskinliğinin alınması işlemine bant rodaj, 90° ve 45° eğimlerle perdahlanması işlemine düz rodaj,
                yay biçiminde perdahlanması işlemine ise balık sırtı veya C rodaj, kademeli olarak rodajlanmasına
                ise profil rodaj denir. Parlatma, rodaj sonrası matlaşan kesim yüzeyinin ikinci bir işlemle
                parlatılmasıdır.
                Lamine Camlar
                Kurşun Dayanıklı Cam
                Kurşun geçirmez ve kurşuna dayanıklı üniteler , can ve mal güvenliğine karşı saldırıların söz
                konusu olduğu yerlerde kullanılır. Kurşun geçirmez ve kurşuna dayanıklı camlar PVB ve ya Poli
                karbonat ara katmanlı lamisyonlu birleşimlerdir. Gerektiğinde cam plakalar temperli olarak da
                kullanılabilirler.
                SentryGlas Laminasyon Ara Katmanları
                SentryGlas® Güç ve Estetiği Birleştiriyor SentryGlas®, binalardaki lamine güvenlik camı
                uygulamalarında 100 kat daha sert ve beş kat daha güçlü özellik taşıyor. Binalardaki cam cephe
                giydirme uygulamaları, gün ışığından faydalanma, manzaranın iç mekanla bütünleşmesi ve son
                derece estetik olması nedeniyle tüm dünyada her geçen gün yaygınlaşıyor. Onlarca yıl boyunca,
                polivinil butiralden (PVB) yapılan ara katmanlar, lamine güvenlik camı üretiminde bir endüstri
                standardıydı. Mimarlar bu tür camların tasarımlarına yaptığı katkının farkındalar ve cephelerde, çatı
                ışıklıkları ve pencerelerde yaygın olarak kullanıyorlar. Buna karşın, SentryGlas® tamamen yeni bir
                yaklaşım getiriyor, çünkü PVB ara katmanından 100 kat daha sert ve beş kat daha güçlü özellik
                taşıyor. Sonuç olarak, yüksek sıcaklıklarda bile, iki lamine cam tabakası arasında mükemmele
                yakın yük iletimi sağlıyor. Böylelikle cam, yük altındayken ve yazın doğrudan güneş ışığı
                altındayken bile, dayanım açısında mükemmel davranış gösteriyor. Bu sebeple SentryGlas® ile
                lamine edilmiş cam panelleri, PVB lamine edilmiş cam panelleri ile karşılaştırıldığında, aynı yük
                altındayken, yaklaşık % 40 oranında cam panelin incelmesine olanak sağlıyor. DuPont Lamine
                Cam Çözümleri, lamine cam üreticilerine, mimarlara ve tasarımcılara ürün ve yenilikler sağlıyor.
                Enerji tasarrufuna önem veren daha fazla doğal ışığı içeriye alan binaların yapılmasını ve otomotiv
                güvenliğinin geliştirilmesini sağlayarak daha iyi bir dünya yaratılmasına yardımcı oluyor.
                Akustik Lamine Cam
                Laminasyonda 0,76 mm ya da 1,4 mm kalınlıklı 'Akustik PVB' kullanılarak gürültü kontrol camı
                üretilmektedir. Gürültü kontrol camları ile 'dıştaki' ile 'içteki' gürültü düzeyleri arasında 3-4 kat fark
                yaratmak mümkündür. 44 desibel gürültü yalıtımı sağlayabilen kombinasyonlar oluşturabilmektedir.
                Yangına Dayanıklı Cam
                Yangın camı ateşin sıcaklığını tutan ve bütünlüğünü muhafaza eden çok katlı lamine edilmiş şeffaf
                bir cam türüdür. Yangından koruma derecesine göre farklı kalınlıklarda olabilir
                Lamine Cam
                Lamine cam renkli veya renksiz özel bağlayıcı polivinil butiral (PVB) tabakalar yardımıyla iki veya
                daha fazla cam plakanın ısı ve basınç altında birleştirilmesi ile üretilir. Kırılma halinde parçaları
                yerinde tutarak yaralanma risklerini azaltır. Bu özelliği nedeniyle lamine güvenlik camı olarak kabul
                edilir. Lamine cam, bir taraftan diğer tarafa istenmeyen geçişleri önlemesi veya geciktirmesi
                açısından da doğru bir seçimdir. Laminasyon eğimli veya baş üstü camlamaların iç camları için
                standart ve tipik bir çözümdür. Lamine, yalıtım camı üniteleri (ISICAM®), renksiz, harmandan
                renkli, kaplamalı ve ısıl işlemli camlarla birlikte oluşturulabilir. Lamine cam, düşük UV geçirgenliği
                ile eşyaların doğal renklerinin daha uzun süre korunması ve gürültü kontrolü açılarından da
                yararlıdır. Standart Lamine üretimi 0.38 mm kalınlıklı renksiz PVB ile yapılmaktadır. Ayrıca 0.76,
                1.14 veya 1.52 mm kalınlıklı yapılabilir.Laminasyonda kullanılan cam / camlar temperli ise 1.52 mm
                kalınlıklı PVB kullanılmaktadır. Akustik Lamine (Gürültü Kontrol Camları) Laminasyonda 0,76 mm
                ya da 1,14 mm kalınlıklı “Akustik PVB” kullanılarak gürültü kontrol camı üretilmektedir. Gürültü
                Konrtrol camları ile “dıştaki” ile “içteki” gürültü düzeyleri arasında 3-4 kat fark yaratmak
                mümkündür. 44 desibel gürültü yalıtımı sağlayabilen kombinasyonlar oluşturulabilmektedir. Kurşun
                Geçirmez ve Kurşuna Dayanıklı Üniteler Kurşun geçirmez ve kurşuna dayanıklı üniteler, can ve
                mal güvenliğine karşı saldırıların söz konusu olduğu yerlerde kullanılır. Kurşun geçirmez ve
                kurşuna dayanıklı camlar PVB veya polikarbonat ara katmanlı laminasyonlu birleşimlerdir.
                Gerektiğinde cam plakalar temperli olarak da kullanılabilir. Yangına Dirençli Camlar Renksiz ve
                saydam olan bu camlar 30, 60, 90, 120 dak. süresince yangın alev ve dumanının bir taraftan
                diğerine geçişini engeller. Yangın süresince saydamlığını korur. İçte ve dışta kullanılabilir. UV’den
                etkilenmez.
                Buzlu - Dekoratif Camlar
                Dekoratif Buzlu Cam
                Cam yüzeyine asitle yapılan işlemlerle desen kazandırılarak üretilir. Mat ve karışık desenli olmak
                üzere birçok çeşidi bulunmaktadır.
                Buzlu Cam
                Renksiz ve renkli cam eriğin biri desenli, iki merdane arasında geçirilmesi suretiyle üretilen buzlu
                camların bir yüzü düz, diğeri desenlidir. Desenlerin derinliği ve dokusu buzlu camın ışık ve görüntü
                geçirgenliğini belirler. 4-6 mm kalınlıktadır.
                Renkli Buzlu Cam
                Renkli cam eriyiğin biri desenli, iki merdane arasından akıtılması ile üretilen bir yüzü düz diğeri
                desenli camlardır. Desenlerin derinliği ve dokusu buzlu camın ışık ve görüntü geçirgenliğini belirler.
                Satina Cam
                Asitle matlaştırma veya satina işlemi camın yüzeyinden asitle silisyum parçalarının uzaklaştırılması
                işlemidir. Böylece cam yüzeyinde mikroskobik çukurlar oluşur ve gözümüz farklı yönlere ışık
                kırılmalarından dolayı camı beyaz görür. Kumlamalı cama göre en büyük avantajı parmak izlerini
                tutmaması ve çok daha kolay temizlenebilmesidir. Kumlamalı cama göre çok daha pürüzsüz bir
                yüzeye sahiptir. Satina ürünlerimiz genellikle iç dekorasyon ve mobilya sektöründe uygulanır. Cam
                çeşitliliği olarak düz cam, renkli cam, ayne, ekstra clear camlar satina işleminde kullanılır. Satina
                camlar temperlenebilir, bombe verilebilir ve diğer tüm cam işleme proseslerinde işlenebilir.
                Telli Buzlu Cam
                Genellikle ışıklık ve asansör camı olarak kullanılır. Camın kırılması durumunda insanlara zarar
                verme olasılığı olan yerlerde bunu engellemek için telli cam tercih edilir.
                Temperli Camlar
                Temperli Camlar
                Temperleme işlemi yatay hat üzerinde camın dış yüzeylerine basınç gerilimi, cam ortasına ise
                dolaylı bir çekme gerilimi kazandırmak için ısıtma ve soğutma aşamalarını içerir. Temperli cam
                işlemsiz cama göre yaklaşık 5 kat daha dayanıklı olup; kırıldığı zaman zar büyüklüğünde parçalara
                ayrılarak yaralanma riskini azalttığından güvenlik camı olarak kullanımı uygundur. Tempre
                işleminden sonra camlara kesim, delik delme, kenar ve yüzey işlemi yapılamaz (kumlama hariç).
                Yalnızca bazı bakış açıları ve ışık koşullarında fark edilebilen " temperleme izleri " ile " kamburluk "
                ve " dönüklük " toleransları içinde kalmak kaydıyla ortaya çıkan distorsiyonlar ısıl işlemin
                kaçınılmaz ve önlenemeyen sonucudur. Temperleme işlemi sırasındaki hassas bir ısı rejimi
                uygulaması ile minimuma indirilmiş izler başlı başına bir kusur olarak nitelendirilmektedir. Ender de
                olsa, cam hamurunda bazı üretim yöntemleri sonucunda ortaya çıkabilecek mikroskobik
                partiküllerden kaynaklanan spottan kırılma olasılığına karşı tam temperli camlar istendiğinde ısı
                banyosu (heat soaking) testinden geçirilerek bir ön elemeye tabi tutabilirler.
            </p>

        </section>
    </div>
</div>

<!-- Footer -->
<div id="footer">
    <section class="container">
        <header class="major">
            <h2>Sosyal Medya Hesaplarımız</h2>
        </header>
        <ul class="icons">
            <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
            <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
            <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
        </ul>
        <hr />
    </section>

    <!-- Copyright -->
    <div id="copyright">
        Tasarım: <a href="http://milatcam.com">© 2019 Milatcam</a>
    </div>
</div>

</body>
</html>