<!DOCTYPE HTML>
<html lang="tr">
	<head>
		<title>Faaliyet Alanlarımız</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
						<h1><a href="index" id="logo">Milat Cam</a></h1>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/index">Anasayfa</a></li>
								<li>
									<a href="">Kurumsal</a>
									<ul>
										<li><a href="profil">Firma Profili</a></li>
										<li class="active"><a href="vizyonmisyon">Vizyon ve Misyon</a></li>
										<li><a href="politikalar">Politikalarımız</a></li>
										<li><a href="galeri">Galeri</a></li>
									</ul>
								</li>
								<li><a href="faaliyetalan">Faaliyet Alanlarımız</a></li>
								<li><a href="referanslar">Referanslar</a></li>
								<li><a href="iletisim">İletişim</a></li>
							</ul>
						</nav>
	
					</div>
				</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">

				<!-- Content -->
				<div id="content" class="container">
					<section>

						<header class="major">
							<h2>VİZYON & MİSYON</h2>
							<span class="byline"></span>
						</header>

						<h3>Misyon</h3>
						<p> Koşulsuz müşteri memnuniyeti sağlamak,<br>
							Müşterilerimizin ürünlerimize ve firmamıza olan güvenini sürekli kılmak,<br>
							Üretim, pazarlama ve satış aşamalarında müşteri odaklı ve etkin olmak,<br>
							Kişiye özel ürünlerin tedariği ile müşterileirin tercihi olmak,<br>
							Sektörde tanınırlığını sürdürmek.</p>
						<h3>Vizyon</h3>
						<p> Milat Cam, kaliteli ve konfor yaratan ürünleriyle yaşama değer katan; insana, doğaya, yasaya saygılı bir şirkettir. Teknolojiden en üst düzeyde faydalanmasını sağlamak ve bu sayede konforlu,kaliteli ürünleri ihtiyaca uygun birleştirip,felsefemizi tüm dünyada örnek oluşturacak sonuçlar üretmektir.</p>

					</section>
				</div>
			</div>

		<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Sosyal Medya Hesaplarımız</h2>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/milatcam/" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/milatcam" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="https://www.instagram.com/milatcam/" class="fa fa-instagram"><span>Pinterest</span></a></li>
				</ul>
				<hr />
			</section>

			<!-- Copyright -->
			<div id="copyright">
				Tasarım: <a href="http://milatcam.com">© 2019 Milatcam</a>
			</div>
		</div>

	</body>
</html>